---
http_interactions:
- request:
    method: post
    uri: http://test.qt.sealink.com.au:8080/reservation_for/scheduled_trips/find_services_for.json
    body:
      encoding: UTF-8
      string: product_type_id=6&route_id=3&forward[first_travel_date]=2016-03-01&forward[from_route_stop_id]=5&forward[to_route_stop_id]=14&forward[passenger_types][1]=2&access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"21bc7368405df99d401d745a726c5d71"
    body:
      encoding: UTF-8
      string: '[{"product_id":"9","product_id_field":"trip_id","resource_id":2,"resource_class_name_underscore":"scheduled_trip_resource","product_name_underscore":"mainland_coach_transfers","tariff_level_id":1,"service_ids":[25,26,27],"first_travel_date":"01-03-2016","last_travel_date":"01-03-2016","time_class":"","exception_type":null,"bookable":true,"reason_unbookable":null,"service_notes":null,"booking_notes":null,"inventory_type_code":"A","price_in_cents":3000,"pre_adjusted_price_in_cents":3000,"total_price_adjustment_in_cents":0,"adjustments":[],"selection_name":"06:45am
        - Ferry ConnectionDeparting Adelaide - AM","price_breakdown":"\u003cspan\u003e\u003cstrong\u003ePassengers:\u003c/strong\u003e\u0026nbsp;\u003cspan
        class=\"money positive\"\u003e$30.00\u003c/span\u003e\u0026nbsp;\u003c/span\u003e","price_breakdown_passengers_in_cents":3000,"price_breakdown_vehicles_in_cents":0,"trip_id":9,"stop_departure_time":"2000-01-01T06:45:00.000Z","stop_arrival_time":"2000-01-01T08:30:00.000Z","from_route_stop_attributes":{"id":5,"inventory_controlled":true,"route_id":3,"position":1,"created_at":null,"updated_at":null,"stop_id":3,"name":"Adelaide
        Central Bus Station","code":"ACBS"},"to_route_stop_attributes":{"id":14,"inventory_controlled":true,"route_id":3,"position":10,"created_at":null,"updated_at":null,"stop_id":12,"name":"Cape
        Jervis Ferry Terminal","code":null},"departure_time":"2000-01-01T06:00:00.000Z","arrival_time":"2000-01-01T08:30:00.000Z"},{"product_id":"13","product_id_field":"trip_id","resource_id":2,"resource_class_name_underscore":"scheduled_trip_resource","product_name_underscore":"mainland_coach_transfers","tariff_level_id":1,"service_ids":[28,29,30],"first_travel_date":"01-03-2016","last_travel_date":"01-03-2016","time_class":"","exception_type":null,"bookable":true,"reason_unbookable":null,"service_notes":null,"booking_notes":null,"inventory_type_code":"A","price_in_cents":3000,"pre_adjusted_pri[...]
