---
http_interactions:
- request:
    method: post
    uri: http://test.qt.sealink.com.au:8080/reservation_for/scheduled_trips/find_services_for.json
    body:
      encoding: UTF-8
      string: product_type_id=1&route_id=1&forward[first_travel_date]=2016-03-01&forward[passenger_types][1]=2
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"854c76143fb3a7bd219126d1058e639b"
    body:
      encoding: UTF-8
      string: '[{"product_id":"1","product_id_field":"trip_id","resource_id":1,"resource_class_name_underscore":"ship","product_name_underscore":"ferry","tariff_level_id":1,"service_ids":[9],"first_travel_date":"01-03-2016","last_travel_date":"01-03-2016","time_class":"","exception_type":null,"bookable":true,"reason_unbookable":null,"service_notes":null,"booking_notes":null,"inventory_type_code":"A","price_in_cents":4000,"pre_adjusted_price_in_cents":4000,"total_price_adjustment_in_cents":0,"adjustments":[],"selection_name":"06:00am
        - KI Ferry","price_breakdown":"\u003cspan\u003e\u003cstrong\u003ePassengers:\u003c/strong\u003e\u0026nbsp;\u003cspan
        class=\"money positive\"\u003e$40.00\u003c/span\u003e\u0026nbsp;\u003c/span\u003e","price_breakdown_passengers_in_cents":4000,"price_breakdown_vehicles_in_cents":0,"trip_id":1,"stop_departure_time":"2000-01-01T06:00:00.000Z","stop_arrival_time":"2000-01-01T06:45:00.000Z","from_route_stop_attributes":null,"to_route_stop_attributes":null,"departure_time":"2000-01-01T06:00:00.000Z","arrival_time":"2000-01-01T06:45:00.000Z"},{"product_id":"2","product_id_field":"trip_id","resource_id":1,"resource_class_name_underscore":"ship","product_name_underscore":"ferry","tariff_level_id":1,"service_ids":[10],"first_travel_date":"01-03-2016","last_travel_date":"01-03-2016","time_class":"","exception_type":null,"bookable":true,"reason_unbookable":null,"service_notes":null,"booking_notes":null,"inventory_type_code":"A","price_in_cents":4000,"pre_adjusted_price_in_cents":4000,"total_price_adjustment_in_[...]
