---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/bookings/1/price_change.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"7b91c75a4f38e04e4f967265134f1051"'
    body:
      encoding: UTF-8
      string: '{"target":{"type":"Booking","id":1},"original_price_in_cents":64000,"changed_price_in_cents":38000,"price_change_in_cents":-26000,"reason":"Test
        Discount Hilton and QBE Get Me","discounted_price_in_cents":38000,"discount_in_cents":-26000,"reservation_price_changes":[{"target":{"type":"Reservation","id":1},"original_price_in_cents":64000,"changed_price_in_cents":38000,"price_change_in_cents":-26000,"reason":"Test
        Discount Hilton and QBE Get Me","discounted_price_in_cents":38000,"discount_in_cents":-26000,"root":{"target":{"type":"Reservation","id":1},"original_price_in_cents":40000,"changed_price_in_cents":20000,"price_change_in_cents":-20000,"reason":"Test
        Discount Hilton","discounted_price_in_cents":20000,"discount_in_cents":-20000},"children":[{"target":{"type":"Reservation","id":3},"original_price_in_cents":12000,"changed_price_in_cents":12000,"price_change_in_cents":0,"reason":"","discounted_price_in_cents":12000,"discount_in_cents":0,"root":{"target":{"type":"Reservation","id":3},"original_price_in_cents":12000,"changed_price_in_cents":12000,"price_change_in_cents":0,"reason":"","discounted_price_in_cents":12000,"discount_in_cents":0},"children":[]},{"target":{"type":"Reservation","id":2},"original_price_in_cents":12000,"changed_price_in_cents":6000,"price_change_in_cents":-6000,"reason":"QBE
        Get Me","discounted_price_in_cents":6000,"discount_in_cents":-6000,"root":{"target":{"type":"Reservation","id":2},"original_price_in_cents":12000,"changed_price_in_cents":6000,"price_change_in_cents":-6000,"reason":"QBE
        Get Me","discounted_price_in_cents":6000,"discount_in_cents":-6000},"children":[]}]}]}'
  recorded_at: Wed, 30 Dec 2015 05:57:39 GMT
recorded_with: VCR 2.9.3
