---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/client_templates/2.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6be9931bd0aa8a85b01110a597d8bb7"
    body:
      encoding: UTF-8
      string: '{"vehicle_templates":[{"id":1,"length":5.0,"height":1.5,"width":1.8,"weight":1000.0,"details":"Holden
        Commodore","registration":"ABC123","cargo":"None","vehicle_type_id":1,"party_id":9}],"passenger_templates":[{"id":1,"age":30,"title":"Mr","first_name":"Homer","last_name":"Simpson","gender":"Male","passenger_type_id":1,"party_id":9}]}'
  recorded_at: Mon, 19 Nov 2018 23:14:50 GMT
recorded_with: VCR 4.0.0
