---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/clients/2.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"651918ea3a399afbf3a755713a8511dd"
    body:
      encoding: UTF-8
      string: '{"id":2,"client_type_id":3,"party_id":9,"commission_level_id":null,"created_at":null,"external_identifier":null,"updated_at":null}'
  recorded_at: Tue, 20 Nov 2018 03:00:05 GMT
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/clients/2/templates
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b6be9931bd0aa8a85b01110a597d8bb7"
    body:
      encoding: UTF-8
      string: '{"vehicle_templates":[{"id":1,"length":5.0,"height":1.5,"width":1.8,"weight":1000.0,"details":"Holden
        Commodore","registration":"ABC123","cargo":"None","vehicle_type_id":1,"party_id":9}],"passenger_templates":[{"id":1,"age":30,"title":"Mr","first_name":"Homer","last_name":"Simpson","gender":"Male","passenger_type_id":1,"party_id":9}]}'
  recorded_at: Tue, 20 Nov 2018 03:00:05 GMT
recorded_with: VCR 4.0.0
