---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/countries.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"4b81caf850c90a277ec60621b06aae8b"'
    body:
      encoding: UTF-8
      string: '[{"created_at":"2013-03-01T00:00:00+10:30","id":1,"iso_3166_code":"AD","latitude":42.3,"longitude":-1.3,"name":"Andorra","updated_at":"2013-03-01T00:00:00+10:30"},{"created_at":"2013-03-01T00:00:01+10:30","id":2,"iso_3166_code":"AE","latitude":24.0,"longitude":-54.0,"name":"United
        Arab Emirates","updated_at":"2013-03-01T00:00:01+10:30"},{"created_at":"2013-03-01T00:00:01+10:30","id":3,"iso_3166_code":"AF","latitude":33.0,"longitude":-65.0,"name":"Afghanistan","updated_at":"2013-03-01T00:00:01+10:30"},{"created_at":"2013-03-01T00:00:03+10:30","id":4,"iso_3166_code":"AG","latitude":17.03,"longitude":61.48,"name":"Antigua[...]
