---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/locations.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"754f79cf51e8c12ce69cb529ec2cc991"
    body:
      encoding: UTF-8
      string: '[{"id":5,"name":"American River","region_ids":[1]}]'
  recorded_at: Wed, 21 Mar 2018 04:40:39 GMT
recorded_with: VCR 4.0.0
