---
http_interactions:
- request:
    method: post
    uri: http://test.qt.sealink.com.au:8080/api/checkouts.json
    body:
      encoding: UTF-8
      string: booking_id=5&payment[gateway_response]=%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20%22CardNumber%22%3A%203085227007682330%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22CardBalance%22%3A%206546%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22CardSequenceNumber%22%3A%2055%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22CILAmount%22%3A%200%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22AuthorizedAmount%22%3A%20890%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22SalesReferenceNumber%22%3A%2053183943%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22TransactionDTM%22%3A%20%222018-01-04T09%3A00%3A43.106%22%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22TransactionReferenceNumber%22%3A%201271099697%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22CardBlockState%22%3A%20false%2C%0A%20%20%20%20%20%20%20%20%20%20%20%20%22AutoloadAmount%22%3A%200%0A%20%20%20%20%20%20%20%20%20%20%20%20%7D&payment[meta_data]=%7B%22applicationInstanceId%22%3A%22101166%22%2C%22operatorId%22%3A%22an_operator%22%7D&payment[payment_type_id]=10&payment[amount_in_cents]=10&payment[uid]=random-payment-id&payment[comment]=Test%20Opal%20Payment&access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"30c7cc5facde1cb9ae6c35b316bba16d"
    body:
      encoding: UTF-8
      string: '{"checkout_id":"random-payment-id","completable":true,"progress":"completed"}'
  recorded_at: Mon, 19 Mar 2018 21:31:17 GMT
recorded_with: VCR 4.0.0
