---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/passenger_types.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0f4424dcbc52748cfe7472d15e4b8fa3"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Adult","minimum_age":null,"maximum_age":null,"age_range_required":false,"position":1,"default_age":30,"created_at":null,"updated_at":null,"code":"Ad","conditions":null,"requires_review":false},{"id":3,"name":"Infant","minimum_age":0,"maximum_age":2,"age_range_required":true,"position":2,"default_age":0,"created_at":null,"updated_at":null,"code":"In","conditions":null,"requires_review":false},{"id":2,"name":"Child","minimum_age":3,"maximum_age":14,"age_range_required":true,"position":3,"default_age":3,"created_at":null,"updated_at":null,"code":"Ch","conditions":null,"requires_review":false}]'
  recorded_at: Mon, 19 Mar 2018 21:31:20 GMT
recorded_with: VCR 4.0.0
