---
http_interactions:
- request:
    method: post
    uri: http://test.qt.sealink.com.au:8080/api/price_quotes/calculate
    body:
      encoding: UTF-8
      string: reservations[][resource_id]=7&reservations[][quantity]=2&reservations[][first_travel_date]=2016-04-15&access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5c82dc53593c47d6fe1dab0bf46ab26b"
    body:
      encoding: UTF-8
      string: '{"quoted_booking_gross_in_cents":6400,"original_booking_gross_in_cents":0,"applied_rules":[],"quoted_booking_breakdown":[{"quoted_gross_in_cents":6400,"original_gross_in_cents":0,"applied_rules":[],"reservation":{"id":null,"resource_id":7,"first_travel_date":"2016-04-15","passengers":{},"vehicles":[]},"new":true,"deleted":false}]}'
  recorded_at: Tue, 20 Mar 2018 04:32:01 GMT
- request:
    method: post
    uri: http://test.qt.sealink.com.au:8080/api/price_quotes/calculate
    body:
      encoding: UTF-8
      string: reservations[][resource_id]=7&reservations[][quantity]=3&reservations[][first_travel_date]=2016-04-15&access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fcdfcfff79f5c60b174480976538dbb9"
    body:
      encoding: UTF-8
      string: '{"quoted_booking_gross_in_cents":4800,"original_booking_gross_in_cents":0,"applied_rules":["Special
        Offer"],"quoted_booking_breakdown":[{"quoted_gross_in_cents":4800,"original_gross_in_cents":0,"applied_rules":["Special
        Offer"],"reservation":{"id":null,"resource_id":7,"first_travel_date":"2016-04-15","passengers":{},"vehicles":[]},"new":true,"deleted":false}]}'
  recorded_at: Tue, 20 Mar 2018 04:32:02 GMT
recorded_with: VCR 4.0.0
