---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/products/date_range_bookability.json?default_pax_type_numbers%5B%5D=1&duration=7&passenger_type_numbers%5B%5D=1&passenger_type_numbers%5B%5D=2&resource_ids%5B%5D=3&resource_ids%5B%5D=4&resource_ids%5B%5D=6&travel_date=2016-03-01
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ba8146a6b7504a036240df1f89a438cd"
    body:
      encoding: UTF-8
      string: '[{"resource":{"id":3,"name":"QBE Travel Insurance - Policy E"},"bookability":{"2016-03-01":{"available":true,"availability_details":{"available":true,"capacity":1,"available_capacity":null,"master_capacity":null,"master_available_capacity":null,"unavailable_type":null},"inventory_type":1,"pricing_details":{"price_per_pax_type":{"1":3000,"2":0},"minimum_price_in_cents":6000,"minimum_price_with_adjustments_in_cents":3000,"total_adjustments_in_cents":-3000,"applied_rules":["QBE
        Get Me"]},"reservation_attributes":{"resource_id":3},"resource_class_name_underscore":"insurance","product_name_underscore":"travel_insurance","image":{"url":"/assets/default-icon.png","desc":""},"selection_name":"QBE
        Travel Insurance - Policy E","description":"QBE Travel Insurance - Policy
        E","error_message":null},"2016-03-02":{"available":true,"availability_details":{"available":true,"capacity":1,"available_capacity":null,"master_capacity":null,"master_available_capacity":null,"unavailable_type":null},"inventory_type":1,"pricing_details":{"price_per_pax_type":{"1":3000,"2":0},"minimum_price_in_cents":6000,"minimum_price_with_adjustments_in_cents":3000,"total_adjustments_in_cents":-3000,"applied_rules":["QBE
        Get Me"]},"reservation_attributes":{"resource_id":3},"resource_class_name_underscore[...]
