---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/resource_categories.json?product_type_ids%5B%5D=5
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"d1fd940d0166dbb4832b5f5171b67a60"'
    body:
      encoding: UTF-8
      string: '[{"created_at":"2015-08-25T14:14:25+09:30","description":"","id":1,"name":"Common","position":null,"product_type_id":5,"updated_at":"2015-08-25T14:14:25+09:30"},{"created_at":"2015-08-25T14:14:50+09:30","description":"","id":2,"name":"Multiple
        Trip","position":null,"product_type_id":5,"updated_at":"2015-08-25T14:14:50+09:30"}]'
  recorded_at: Mon, 11 Apr 2016 02:11:22 GMT
recorded_with: VCR 3.0.1
