---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/resource_categories.json?product_type_ids%5B%5D=5
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3b463d79f48c515bd0ed3e6b755d1d4b"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Common","description":null,"product_type_id":5,"created_at":null,"updated_at":null,"position":null},{"id":2,"name":"Multiple
        Trip","description":null,"product_type_id":5,"created_at":null,"updated_at":null,"position":null}]'
  recorded_at: Mon, 19 Mar 2018 21:31:27 GMT
recorded_with: VCR 4.0.0
