---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/product_types/1/routes.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"081240e8bd7d85593c37e53d9a7fe909"
    body:
      encoding: UTF-8
      string: '[{"id":1,"product_type_id":1,"reverse_id":2,"position":1,"created_at":null,"updated_at":null,"name":"To
        Kangaroo Island","path":"Cape Jervis to Penneshaw","route_stops":[{"id":1,"inventory_controlled":true,"route_id":1,"position":1,"created_at":null,"updated_at":null,"stop_id":1,"name":"Cape
        Jervis","code":"CPJ","address":""},{"id":2,"inventory_controlled":true,"route_id":1,"position":2,"created_at":null,"updated_at":null,"stop_id":2,"name":"Penneshaw","code":"PEN","address":""}]},{"id":2,"product_type_id":1,"reverse_id":1,"position":2,"created_at":null,"updated_at":null,"name":"From
        Kangaroo Island","path":"Penneshaw to Cape Jervis","route_stops":[{"id":3,"inventory_controlled":true,"route_id":2,"position":1,"created_at":null,"updated_at":null,"stop_id":2,"name":"Penneshaw","code":"PEN","address":""},{"id":4,"inventory_controlled":true,"route_id":2,"position":2,"created_at":null,"updated_at":null,"stop_id":1,"name":"Cape
        Jervis","code":"CPJ","address":""}]}]'
  recorded_at: Wed, 21 Mar 2018 04:40:36 GMT
recorded_with: VCR 4.0.0
