---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/properties/1.json?product%5Bfirst_travel_date%5D=2016-01-01
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"6258a2973c6b77e1424b6193d0120886"'
    body:
      encoding: UTF-8
      string: '{"id":1,"name":"Hilton Hotel","description":"","location_id":1,"check_in":"2000-01-01T14:00:00Z","check_out":"2000-01-01T10:00:00Z","check_in_instructions":"","star_rating":null,"contact_id":null,"notes":"","tourism_accredited":false,"season_id":9,"boundary_start":"2013-03-01","boundary_end":"2013-03-01","created_at":"2013-03-01T00:01:41+10:30","updated_at":"2013-03-01T00:55:56+10:30","address":{"id":1,"address_line1":"Level
        2","address_line2":"1 Victoria Square","city":"Adelaide","state":"SA","post_code":"5000","created_at":"2013-03-01T00:01:41+10:30","updated_at":"2013-03-01T00:07:29+10:30","party_id":null,"country_id":14,"property_id":1},"location_name":"Adelaide
        CBD","region_names":"Adelaide","property_facilities":[{"id":1,"name":"Pool","created_at":"2013-03-01T00:01:07+10:30","updated_at":"2013-03-01T00:01:07+10:30","category_id":1,"position":1},{"id":2,"name":"Spa","created_at":"2013-03-01T00:01:14+10:30","updated_at":"2013-03-01T00:01:25+10:30","category_id":1,"position":1}],"graphics":[],"maximum_occupancy":2,"accommodations":[{"id":6,"name":"Executive
        Room","product_type_id":2,"default_capacity":2,"type":"Accommodation","inventory_type":0,"maximum_occupancy":2,"location_id":1,"property_id":1,"fare_basis_pointer_id":6,"disclaimer_id":null,"deposit_rule_id":null,"vendor_id":null,"maximum_weight":null,"days_before_inventory_expires":null,"property_type_id":1,"star_rating":null,"booking_notes":"","expiry_units":null,"uses":null,"inline_price_in_cents":null,"inline_cost_in_cents":null,"expiry_level":null,"unlimited_uses":false,"no_expiry":false,"reason_required":false,"resource_category_id":null,"created_at":"2013-03-01T00:08:49+10:30","updated_at":"2013-03-01T00:02:11+10:30","code":"","restrict_to_client_types":false,"minimum_age":null,"guardian_minimum_age":null,"book_before_level":null,"book_before_units":"seconds","maximum_passengers_online":null,"active":true,"report_changes":false,"inline_pricing":false,"bookable_individually":true,"minimum_passengers":null,"maximum_passengers":null,"required_number_of_vehicles":null,"frequent_traveller_points_multiplier":null,"commissionable":true,"masterpoint_resource_id":null,"print_tickets":false,"individual_tickets":null,"frequent_traveller_redemption_rate":null,"position":null,"room_facilities":[{"id":1,"name":"Shower","created_at":"2013-03-01T00:01:38+10:30","updated_at":"2013-03-01T00:01:38+10:30","category_id":2,"position":1},{"id":3,"name":"Hairdryer","created_at":"2013-03-01T00:01:49+10:30","updated_at":"2013-03-01T00:01:49+10:30","category_id":2,"position":3}],"bed_configurations":[{"id":1,"creator_id":null,"updator_id":null,"resource_id":6,"created_at":"2013-03-01T00:08:49+10:30","updated_at":"2015-11-18T13:59:23+10:30","overriding_fare_basis_pointer_id":null,"name":"1
        x Double and 1 x Single","active":true,"position":1}],"description":"A basic
        studio room","graphics":[],"on_request":false,"minimum_price":{},"nightly_price":{},"availability":{},"minimum_bookable_duration":null}]}'
  recorded_at: Fri, 22 Jan 2016 05:15:16 GMT
recorded_with: VCR 2.9.3
