---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/property_types.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"626f377a41b553c6c0727da215f3e53f"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Hotel","position":null,"created_at":null,"updated_at":null}]'
  recorded_at: Tue, 06 Feb 2018 20:49:44 GMT
recorded_with: VCR 3.0.3
