---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/property_types.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"559340bc8df8e9afa56c4988e50056fd"'
    body:
      encoding: UTF-8
      string: '[{"id":6,"name":"Bed and Breakfast","position":1,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2014-02-04T16:00:14+10:30"},{"id":4,"name":"Non Hosted Bed and Breakfast","position":2,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":1,"name":"Hotel or Motel","position":3,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":7,"name":"Self Contained","position":4,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":12,"name":"Luxury Retreats","position":5,"created_at":"2017-02-13T16:03:04+10:30","updated_at":"2017-02-13T16:03:04+10:30"},{"id":10,"name":"Caravan and Camping","position":6,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":5,"name":"Lodge or Backpackers","position":7,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2016-10-31T15:21:46+10:30"},{"id":8,"name":"Groups","position":8,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":9,"name":"Ski","position":9,"created_at":"2011-04-07T07:07:14+09:30","updated_at":"2011-04-07T07:07:14+09:30"},{"id":11,"name":"Cruise Ship","position":10,"created_at":"2014-09-25T08:31:00+09:30","updated_at":"2014-09-25T08:31:00+09:30"}]'
  recorded_at: Fri, 28 Oct 2016 05:28:14 GMT
recorded_with: VCR 3.0.3
