---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/regions.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"a4c8faefeca1cec1ee7134663a0817b7"'
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Adelaide","location_ids":[1]}]'
  recorded_at: Fri, 28 Oct 2016 05:28:15 GMT
recorded_with: VCR 3.0.3
