---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/regions.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"510afb159eb43929754bda9aa96bfacb"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Kangaroo Island","location_ids":[3,4,5]}]'
  recorded_at: Tue, 06 Feb 2018 20:49:45 GMT
recorded_with: VCR 3.0.3
