---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/regions.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"510afb159eb43929754bda9aa96bfacb"
    body:
      encoding: UTF-8
      string: '[{"id":1,"name":"Kangaroo Island","location_ids":[3,4,5]}]'
  recorded_at: Wed, 21 Mar 2018 04:40:40 GMT
recorded_with: VCR 4.0.0
