---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/resource_categories.json?product_type_ids%5B%5D=8
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7af57753c4ea1f84237249cd521bd2cc"
    body:
      encoding: UTF-8
      string: '[{"id":3,"name":"General","description":null,"product_type_id":8,"created_at":null,"updated_at":null,"position":null},{"id":4,"name":"Muzzles","description":null,"product_type_id":8,"created_at":null,"updated_at":null,"position":null}]'
  recorded_at: Wed, 21 Mar 2018 04:40:44 GMT
recorded_with: VCR 4.0.0
