---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/resources/index_with_price.json?product_type_ids=5
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"8fa87c74328640731a0743aaee3e1f0b"'
    body:
      encoding: UTF-8
      string: '[{"id":7,"name":"Adult Return","product_type_id":5,"default_capacity":null,"type":"Item","inventory_type":1,"maximum_occupancy":null,"location_id":null,"property_id":null,"fare_basis_pointer_id":null,"disclaimer_id":null,"deposit_rule_id":null,"vendor_id":null,"maximum_weight":null,"days_before_inventory_expires":null,"property_type_id":null,"star_rating":null,"inline_price_in_cents":3200,"inline_cost_in_cents":0,"resource_category_id":1,"created_at":"2015-08-25T14:22:46+09:30","updated_at":"2016-07-13T09:44:55+09:30","code":"2AD","restrict_to_client_types":false,"minimum_age":null,"guardian_minimum_age":null,"book_before_level":null,"book_before_units":"seconds","maximum_passengers_online":null,"active":true,"report_changes":false,"inline_pricing":true,"bookable_individually":true,"minimum_passengers":null,"maximum_passengers":null,"required_number_of_vehicles":null,"frequent_traveller_points_multiplier":null,"commissionable":true,"masterpoint_resource_id":null,"print_tickets":true,"individual_tickets":false,"frequent_traveller_redemption_rate":null,"position":null,"ticket_template_id":1,"generate_tickets_by_quantity":true,"inventory_release_hour":0,"todays_price_in_cents":3200,"todays_price_with_rules_in_cents":3200,"applied_rules":[],"description":"","ticket_template":{"activation_trigger":"first_travel_date","created_at":"2016-07-13T09:44:55+09:30","daily_uses_limit":null,"expiry_days":30,"id":1,"maximum_uses":2,"name":"2
        uses, 30 days expiry","parent_id":null,"updated_at":"2016-07-13T09:44:55+09:30","validity_duration_minutes":60},"expiry_days":30,"child_resources":[]},{"id":8,"name":"Concession
        Return","product_type_id":5,"default_capacity":null,"type":"Item","inventory_type":1,"maximum_occupancy":null,"location_id":null,"property_id":null,"fare_basis_pointer_id":null,"disclaimer_id":null,"deposit_rule_id":null,"vendor_id":null,"maximum_weight":null,"days_before_inventory_expires":null,"property_type_id":null,"star_rating":null,"inline_price_in_cents":1600,"inline_cost_in_cents":0,"resource_category_id":1,"created_at":"2015-08-25T14:24:45+09:30","[...]
