---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/settings/basic.json
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"168ce77e85be5b01489cbdeb4579ae80"'
    body:
      encoding: UTF-8
      string: '{"vehicle_optional_fields":["weight","registration"],"default_passenger_type_id":1,"time_zone":"Australia/Adelaide","ob_num_pax_requiring_details":"none","person_titles":["Mr","Mrs","Ms","Miss"]}'
  recorded_at: Tue, 23 May 2017 04:09:58 GMT
recorded_with: VCR 3.0.3
