---
http_interactions:
- request:
    method: get
    uri: http://test.qt.sealink.com.au:8080/api/settings/basic.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-API-KEY:
      - <QT_KEY>
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"fa3cf293c3f4a0785f054bee171056d2"
    body:
      encoding: UTF-8
      string: '{"vehicle_optional_fields":["weight","registration"],"default_passenger_type_id":1,"time_zone":"Australia/Adelaide","ob_num_pax_requiring_details":"none","person_titles":["Mr","Mrs","Ms","Miss"]}'
  recorded_at: Wed, 21 Mar 2018 04:40:45 GMT
recorded_with: VCR 4.0.0
