---
http_interactions:
- request:
    method: get
    uri: http://sealink.dev:8080/api/product_types.json?
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c8b384e8a06b1f0ecc96a9f2a5a66da"'
    body:
      encoding: UTF-8
      string: '[{"id":554881969,"name":" Travel Insurance","resource_class_name":"Insurance","disclaimer_id":1,"durational":true,"can_find_by_location":false,"measure_units_by_pax_count":false,"multi_leg":false,"prompt_for_pick_up_drop_off":false,"book_before_level":null,"book_before_units":"days","maximum_passengers_online":null,"confirmation_request_fields":["pick_up_information","drop_off_information","vendor_pnr","notes_for_vendor","vendor_staff","note_for_inventory_type_change"],"only_bookable_with_accommodation":false,"footer_itinerary_item":true,"created_at":"2011-04-07T07:07:13+09:30","updated_at":"2013-06-26T11:20:46+09:30","code":"","can_have_quantity":false,"can_have_dates":true,"needs_passengers":false},{"id":554881928,"name":"Accommodation","resource_class_name":"Accommodation","disclaimer_id":1,"durational":true,"can_find_by_location":true,"measure_units_by_pax_count":false,"multi_leg":false,"prompt_for_pick_up_drop_off":false,"book_before_level":null,"book_before_units":"seconds","maximum_passengers_online":null,"confirmation_request_fields":["vendor_pnr","notes_for_vendor","vendor_staff","note_for_inventory_type_change"],"only_bookable_with_accommodation":false,"footer_itinerary_item[...]
- request:
    method: get
    uri: http://sealinkqld.dev:8080/api/product_types.json?
    body:
      encoding: UTF-8
      string: access_key=<QT_KEY_2>
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"388402cd3ffefb1fcbcc297eb52f7b5d"'
    body:
      encoding: UTF-8
      string: '[{"id":2,"name":"Accommodation","resource_class_name":"Accommodation","disclaimer_id":1,"durational":true,"can_find_by_location":true,"measure_units_by_pax_count":false,"multi_leg":false,"prompt_for_pick_up_drop_off":false,"book_before_level":null,[...]
